<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TellevoApp</ion-title>
    </ion-toolbar>
  </ion-header>
    
        <div class="ion-margin">
          <h1 class="ion-text-center">Datos del conductor</h1>
          <ion-list>
            <ion-item style="margin-bottom: auto">
              <ion-input label="Nombre" placeholder="Ingresa tu nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Auto" placeholder="Ingresa el modelo de auto"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Patente" placeholder="Ingresa tu patente"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Contacto +56" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Destino" placeholder="Ingrese comuna destino"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Asientos" type="number" placeholder="Ingrese asientos disponibles"></ion-input>
            </ion-item>
          </ion-list>
        </div>
        <div class="ion-margin" class="ion-text-center">
          <ion-button id="open-toast" ion shape="round">
            Guardar
          </ion-button>
          <ion-toast trigger="open-toast" message="Guardado!" [duration]="1000"></ion-toast>
        </div>
</ion-content>
