<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>TeLlevoAPP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <h3 class="ion-text-center">Datos del viaje</h3>
    <ion-list>
      <ion-item style="margin-bottom: auto">
        <ion-input label="Nombre" value="{{ nombre }} {{ apellido }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Auto" value="{{vcl.Marca}} {{vcl.Modelo}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Patente" value="{{vcl.Patente}}"></ion-input>
      </ion-item>

      <!-- Campo de destino con autocompletado -->
      <ion-item>
        <ion-label position="stacked">Destino</ion-label>
        <ion-input [(ngModel)]="vje.Destino" (input)="onSearchDestino($event)" placeholder="Escribe un lugar"></ion-input>
      </ion-item>

      <!-- Lista de sugerencias de autocompletado -->
      <ion-list *ngIf="sugerencias.length > 0">
        <ion-item *ngFor="let lugar of sugerencias" (click)="seleccionarDestino(lugar)" color="secondary">
          {{ lugar.place_name }}
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label labelPlacement="stacked">Asientos disponibles</ion-label>
        <ion-range aria-label="Range with ticks" [min]="1" [max]="4" [pin]="true" [ticks]="true"
          [snaps]="true" [(ngModel)]="vje.Asientos"></ion-range>
      </ion-item>
      <ion-item>
        <ion-input label="Costo por asiento" type="number" placeholder="Ingrese un valor" [(ngModel)]="vje.Costo"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <!-- Botón para crear viaje -->
  <div class="ion-margin ion-text-center" *ngIf="!viajeActivo">
    <ion-button (click)="crearViaje()" [routerLink]="'/home'" id="open-toast" shape="round">
      Guardar!
    </ion-button>
    <ion-toast trigger="open-toast" message="Guardado!" [duration]="1000"></ion-toast>
  </div>

  <!-- Botón para acceder a la previsualización del viaje activo -->
  <div class="ion-margin ion-text-center" *ngIf="viajeActivo">
    <ion-button [routerLink]="['/viaje-preview', viajeActivo.id]" shape="round">
      Ver viaje activo
    </ion-button>
  </div>
</ion-content>
