<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="welcome-content">
  <div class="ion-margin">
      <img src="../../../assets/icon/emojifeliz.png" alt="Imagenepica" class="imagen-epica">
      <h5>Bienvenido a TellevoApp, una aplicacion que permite a los estudiantes de DuocUC organizarse 
        y coordinar viajes compartidos utilizando vehículos de compañeros que cuentan con movilización propia. </h5>
      <ion-button expand="block" [routerLink]="['/login']">Comenzar!</ion-button>
  </div>
</ion-content>