.welcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    background: linear-gradient(to bottom, #f7f7f7, #ffffff);
  }
  .imagen-epica img {
    width: 75%; 
    height: 75%;
    object-fit: cover;
  }
