<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TellevoApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 class="ion-text-center">Reserva tu vehiculo</h1> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ruperto Arias</ion-card-title>
      <ion-card-subtitle>Honda Civic Gris (RKJ674)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Va en direccion a Altai 145, Hualpen
    </ion-card-content>
  
    <div class="ion-text-end">
      <ion-button  fill="clear">Reservar</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ignacio Sandoval</ion-card-title>
      <ion-card-subtitle>Suzuki Celerio Azul (RT3674)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Va en direccion a Tamales 876, Concepcion
    </ion-card-content>
    <div class="ion-text-end">
      <ion-button  fill="clear">Reservar</ion-button>
    </div>
    
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sebastian Molina</ion-card-title>
      <ion-card-subtitle>Suzuki Swift Rojo (PWJD98)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Va en direccion a La Paz 6789, San Pedro de La Paz
    </ion-card-content>
  
    <div class="ion-text-end">
      <ion-button  fill="clear">Reservar</ion-button>
    </div>
  </ion-card>
</ion-content>
