<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="ion-text-center">Reserva tu vehiculo</h3> 
  <ion-card *ngFor="let viaje of viajes">
    <ion-card-header>
      <div style="display: flex; align-items: center;">
        <ion-avatar slot="start" style="margin-right: 10px;">
          <img src="../../../assets/icon/Honda Civic.PNG" alt="Honda Civic Gris">
        </ion-avatar>
        <ion-card-title style="margin: 0;">{{ viaje.nombreUsuario }} {{ viaje.apellidoUsuario }}</ion-card-title>
      </div>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h1>{{ viaje.fechaViajeString }}</h1>
      <h2>{{ viaje.vehiculo?.Marca }} {{ viaje.vehiculo?.Modelo }} {{ viaje.vehiculo?.Patente }}</h2>
      <h3>Va en dirección a {{ viaje.Destino }}</h3>
      <br>
      <h2>Valor asiento: ${{ viaje.Costo }}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
