<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form (ngSubmit)="login()" >
    <div class="ion-margin">
      <h3 class="ion-text-center">Ingresa tu usuario</h3>
  
      <ion-input
        type="email"
        fill="outline"
        label="Correo"
        labelPlacement="floating"
        helperText="Ingresa un correo institucional"
        errorText="Correo inválido"
        name="email"
        [(ngModel)]="email" 
      ></ion-input>
  
      <br>
  
      <ion-input
        label="Contraseña"
        type="password"
        label-placement="floating"
        fill="outline"
        helperText="Ingresa contraseña"
        name="password"
        [(ngModel)]="password" 
      ></ion-input>
    </div>
  
    <div class="ion-margin ion-text-center">
      <ion-button [routerLink]="['/recuperar']" shape="round">
        Recuperar
      </ion-button>
      <ion-button type="submit" shape="round">
        Ingresar
      </ion-button>
    </div>
    <br>
    <div class="ion-margin ion-text-center">
      <ion-button [routerLink]="['/registro']" shape="round">
        Crear cuenta
      </ion-button>
    </div>
  </form>
</ion-content>
