<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TellevoApp  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TellevoApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-margin">
    <h1 class="ion-text-center">Bienvenido!</h1>
    <ion-input
  type="email"
  fill="outline"
  label="Correo"
  labelPlacement="floating"
  helperText="Ingresa un correo institucional"
  errorText="Correo invalido"
  ngModel
  email
></ion-input>
<br>
<ion-input label="Contraseña" type="password" label-placement="floating" fill="outline" placeholder="Ingresa contraseña"></ion-input>
  </div>
  <div class="ion-margin" class="ion-text-end">
    <ion-button ion shape="round">
      Guardar
    </ion-button>
  </div>
</ion-content>
