<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TellevoApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Conductor</ion-card-title>
        <ion-card-subtitle>Agrega acompañantes a tu viaje!</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        En este perfil compartiras los asientos disponibles de tu vehiculo manteniendo tu destino.
      </ion-card-content>
    
      <div class="ion-text-end">
        <ion-button [routerLink]="['/conductor']">Ser conductor</ion-button>
      </div>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pasajero</ion-card-title>
        <ion-card-subtitle>Elige un conductor! </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        En este perfil podrás reservar un asiento disponible para llegar a tu destino.
      </ion-card-content>
    
      <div class="ion-text-end">
        <ion-button [routerLink]="['/reserva']" >Ser pasajero</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
