<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>TeLlevoAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h2>Bienvenido {{ nombre }} {{ apellido }}!</h2>
  </div>

  <div>
    <!-- Mostrar solo si el usuario tiene auto -->
    <ion-card *ngIf="tieneAuto">
      <ion-card-header>
        <ion-card-title>Conductor</ion-card-title>
        <ion-card-subtitle>Administra tus viajes</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        En este perfil puedes gestionar tus viajes como conductor.
      </ion-card-content>

      <div class="ion-text-end" *ngIf="viajeActivo">
        <ion-button (click)="navegarAViaje()">
          {{ viajeActivo.estado === 'activo' ? 'Ver viaje activo' : 'Ver viaje en curso' }}
        </ion-button>
      </div>

      <div class="ion-text-end" *ngIf="!viajeActivo">
        <ion-button [routerLink]="['/conductor']">Crear viaje</ion-button>
      </div>
    </ion-card>

    <!-- Opción para todos los usuarios -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pasajero</ion-card-title>
        <ion-card-subtitle>Reserva un viaje</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        En este perfil puedes reservar un asiento disponible para llegar a tu destino.
      </ion-card-content>

      <!-- Botón dinámico -->
      <div class="ion-text-end">
        <ion-button *ngIf="!reservaActiva" [routerLink]="['/reserva']">Ser pasajero</ion-button>
        <ion-button *ngIf="reservaActiva" (click)="navegarAReserva()">Ver reserva activa</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
