<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h2>Bienvenido {{ nombre }} {{ apellido }}!</h2>
  </div>
  
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Conductor</ion-card-title>
        <ion-card-subtitle>Agrega acompañantes a tu viaje!</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        En este perfil compartiras los asientos disponibles de tu vehiculo manteniendo tu destino.
      </ion-card-content>
    
      <div class="ion-text-end">
        <ion-button [routerLink]="['/conductor']">Crear viaje</ion-button>
      </div>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pasajero</ion-card-title>
        <ion-card-subtitle>Elige un conductor! </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        En este perfil podrás reservar un asiento disponible para llegar a tu destino.
      </ion-card-content>
    
      <div class="ion-text-end">
        <ion-button [routerLink]="['/reserva']" >Ser pasajero</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
