<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <h3 class="ion-text-center">Restablecer contraseña</h3>

    <!-- Campo para el correo electrónico -->
    <ion-input
      label="Correo Electrónico"
      type="email"
      label-placement="floating"
      fill="outline"
      placeholder="Ingresa tu correo"
      [(ngModel)]="email">
    </ion-input>
  </div>
  
  <div class="ion-margin ion-text-center">
    <ion-button (click)="enviarCorreoRecuperacion()" shape="round">
      Enviar enlace de restablecimiento
    </ion-button>
  </div>
</ion-content>
